.marquee {
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    height: 50px;
    background-color: lightgreen;
}

.marquee-content {
    display: inline-block;
    animation: marquee 20s linear infinite;
    font-size: 34px;
    color: white;
    font-weight: bold;
}

@keyframes marquee {
    100% {
        transform: translateX(0);
    }
    0% {
        transform: translateX(-50%);
    }
}
